<div class="p-6 bg-white shadow rounded-3xl">
    <div class="mx-auto">
  
        <div class="pl-2 font-semibold text-xl text-gray-700 text-center">
          <h2 class="leading-relaxed text-2xl text-blue-500">Seleccione el tipo de solicitud que desea realizar</h2>
        </div>
  
        <div class="flex flex-wrap items-center py-8">
  
            <a routerLink="/solicitudes/enviar/1" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
                <h4 class="text-base text-blue-500">Cambio de docentes a nivel administrativo</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/2" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Renuncia como personal de la unellez</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/3" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Dejar sin efecto nombramiento</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/4" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Dejar sin efecto cese de funciones</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/5" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Cese de funciones de cargos de libre nombramiento y remoción</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/6" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Cese de funciones personal jubilado</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/7" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Nombramiento</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/8" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Contratación</h4>
            </a>
  
            <a routerLink="/solicitudes/enviar/9" class="border border-blue-500 rounded-lg p-4 mt-5 mr-3">
              <h4 class="text-base text-blue-500">Otra</h4>
            </a>
  
        </div>
  
    </div>
  </div> 