<div class="p-6 bg-white shadow rounded-3xl">
    <div class=" mx-auto">
        <form  >
            <div class="flex items-center space-x-5">
                <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                    <h2 class="leading-relaxed">Envio de Circulares</h2>
                    <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit.</p>
                </div>
            </div>
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 ">
                <div class="flex items-center space-x-4">
                    <div class="flex flex-col w-1/2">
                        <label class="leading-loose">Titulo</label>
                        <input type="text" name="titulo"
                            class="pl-4 py-2 border focus:border-blue-500 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                            placeholder="ingresar titulo">
                    </div>
                    <div class="flex flex-col w-1/2">
                        <label class="leading-loose">Dirigido a</label>
                        <input type="text" name="dirigido"  
                            class="pl-4 py-2 border  focus:border-blue-500 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                            placeholder="ingresar publico al que va dirigido">
                    </div>
                </div>

                <div class="flex flex-col">
                    <label class="leading-loose">Asunto</label>
                    <input type="text" name="asunto" 
                        class="pl-4 py-2 border  focus:border-blue-500 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="ingresar asunto">
                </div>
                <div class="flex flex-col">
                    <label class="leading-loose">Contenido</label>
                    <textarea type="text" name="contenido"
                        class="px-4 py-2 border focus:border-blue-500 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="ingresar contenido"></textarea>
                </div>
            </div>
            <div class="pt-3 flex items-center space-x-4">
                <button
                  type="button" class="flex justify-center items-center w-full bg-red-500 text-white px-4 py-3 rounded-md focus:outline-none">
                   Visualizar
                </button>
                <button
                 type="submit" class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Enviar</button>
              </div>
        </form>
    </div>
</div>