<section class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="w-2/5 shadow-lg p-8 bg-white rounded-lg">
        <div class="text-center text-gray-600 uppercase">
            <h2 class="text-2xl font-semibold ">Bienvenido a Guaicaipuro</h2>
            <p>Sistema de gestión rectoral</p>
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="enivarForm()">
            <div class="mx-auto px-12 text-gray-600">
                <div class="flex flex-col mt-4">
                    <label class="leading-loose">Usuario</label>
                    <input type="text" name="usuario" formControlName="usuario"
                        class="pl-4 py-2 border focus:border-blue-500  border-gray-300 rounded-md focus:outline-none"
                        placeholder="Ingrese usuario">
                </div>
                <div class="flex flex-col mt-4">
                    <label class="leading-loose">Contraseña</label>
                    <input type="password" name="contrasena" formControlName="contrasena"
                        class="pl-4 py-2 border focus:border-blue-500  border-gray-300 rounded-md focus:outline-none"
                        placeholder="Ingrese contraseña">
                </div>
                <div class="flex justify-center mt-8">
                    <button type="submit" class="p-2 bg-blue-500 rounded-lg w-1/2 text-white">Ingresar</button>
                </div>
            </div>
        </form>
    </div>
</section>