<div class="flex space-x-4">

    <div class="w-1/2 bg-gradient-to-r  shadow from-blue-500 to-blue-800 p-6 rounded-2xl">
        <div class="">
            <h1 class="text-white font-bold text-2xl capitalize">hola, bienvendio {{usuario | titlecase }}
            </h1>

            <p class="mt-1 text-xs md:text-sm text-gray-50 font-light">
                Guaicaipuro es un sistemas administrativo encargado de gestionar peticiones al personal
                jerarquico, tomando en cuenta las distintas areas de ejecución, destacando entre ellas
                aprobaciones, solicitudes, ordenes, circulares entre otras.
            </p>
        </div>
        <div class="flex justify-between items-end">
            <button (click)="modal.modalToggle()"
                class="bg-blue-800 px-4 py-3 rounded-lg text-white text-xs tracking-wider font-semibold hover:bg-blue-600 hover:text-white">
                Ver tu información
            </button>
            <img src="assets/img/ondulacion.png" alt="calendar" class="w-auto h-20 object-cover">
        </div>
    </div>

    <!-- w-1/2 bg-white p-6 rounded-2xl border border-gray-50 -->
    <div class="w-1/2 bg-white shadow rounded-2xl flex">
        <div class="w-2.5 h-auto bg-blue-500 rounded-tl-md rounded-bl-md"></div>
        <div class="w-full p-8">
            <div class="md:flex items-center justify-between">
                <h2 class="text-2xl font-bold text-gray-800">Circulares Publicadas</h2>
            </div>
            
            <div class="mt-1 space-y-1 font-light">
                <div class="p-1 border-b border-blue-300">Nuevo Rector</div>
                <div class="p-1 border-b border-blue-300">Fumigación</div>
                <div class="p-1 border-b border-blue-300">Aplicaciones de la dirección de tecnologia</div>
                <div class="p-1 border-b border-blue-300">Otros avances</div>
            </div>

        </div>
    </div>

</div>

<div class="px-4 xl:p-0 mt-8">
    <div class="lg:col-span-4 flex justify-between">
        <h2 class="text-xs md:text-sm text-gray-700 font-bold tracking-wide md:tracking-wider">
            Control de Emisiones
        </h2>
    </div>
    <div class="flex space-x-4 mt-4">
        <div class="bg-white p-6 rounded-xl shadow border border-gray-50 w-2/5">
            <div class="flex justify-between items-start">
                <div class="flex flex-col">
                    <p class="text-gray-600 font-bold tracking-wide">Solicitudes</p>
                    <h3 class="mt-1 text-2xl font-bold">0</h3>
                    <span class="mt-4 text-xs text-gray-500">Last Transaction 3 Hours ago</span>
                </div>
                <div class="bg-blue-500 p-1 xl:p-2 rounded-md text-white">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="w-8">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-xl shadow border border-gray-50 w-2/5">
            <div class="flex justify-between items-start">
                <div class="flex flex-col">
                    <p class="text-gray-600 font-bold tracking-wide">Ordenes</p>
                    <h3 class="mt-1 text-2xl font-bold">0</h3>
                    <span class="mt-4 text-xs text-gray-500">Last Transaction 3 Days ago</span>
                </div>
                <div class="bg-green-500 p-1 xl:p-2 rounded-md text-white">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="w-8">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-xl shadow border border-gray-50 w-2/5">
            <div class="flex justify-between items-start">
                <div class="flex flex-col">
                    <p class="text-gray-600 font-bold tracking-wide">Circulares</p>
                    <h3 class="mt-1 text-2xl font-bold">0</h3>
                    <span class="mt-4 text-xs text-gray-600">Last Transaction 4 Days ago</span>
                </div>
                <div class="bg-yellow-500 p-1 xl:p-2 rounded-md text-white">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        class="w-8">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>


<app-modal #modal>
    <h2>Hola munod</h2>
</app-modal>