<div class="p-6 bg-white shadow rounded-3xl">
    <div class=" mx-auto">
      <form [formGroup]="form" (ngSubmit)="enviarForm()">
  
        <ng-container *ngIf="tipoForm == 1">
          <div class="flex items-center space-x-5">
            <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
              <h2 class="leading-relaxed">Solicitud de cambio de docentes a nivel administrativo</h2>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                adipisicing elit.</p>
            </div>
          </div>
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 ">
            <div class="flex items-center space-x-4">
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Empleado</label>
                <input type="text" name="cedula" formControlName="cedula"
                  class="pl-4 py-2 border focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre o número de cedula">
              </div>
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Cargo a designar</label>
                <input type="text" name="cargo_propuesto" formControlName="cargo_propuesto"
                  class="pl-4 py-2 border focus:ring-gray-500 focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre del cargo">
              </div>
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Agregar descripción</label>
              <textarea type="text" name="descripcion" formControlName="descripcion"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="Optional"></textarea>
            </div>
          </div>
        </ng-container>
  
        <ng-container *ngIf="tipoForm == 2">
          <div class="flex items-center space-x-5">
            <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
              <h2 class="leading-relaxed">Solicitud de renuncia como personal de la unellez</h2>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                adipisicing elit.</p>
            </div>
          </div>
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 ">
            <div class="flex flex-col">
              <label class="leading-loose">Empleado</label>
              <input type="text" name="cedula" formControlName="cedula"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="ingrese nombre o número de cedula">
            </div>
  
            <div class="flex flex-col">
              <label class="leading-loose">Agregar carta de renuncia</label>
              <input type="file" name="archivo" formControlName="archivo"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Agregar descripción</label>
              <textarea type="text" name="descripcion" formControlName="descripcion"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="Optional"></textarea>
            </div>
          </div>
        </ng-container>
  
  
        <ng-container *ngIf="tipoForm == 3 || tipoForm == 4 || tipoForm == 5 || tipoForm == 6">
          <div class="flex items-center space-x-5">
            <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
              <ng-container *ngIf="tipoForm == 3">
                <h2 class="leading-relaxed">Solicitud dejar Sin efecto nombramiento</h2>
                <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                  adipisicing elit.</p>
              </ng-container>
              <ng-container *ngIf="tipoForm == 4">
                <h2 class="leading-relaxed">Solicitud dejar Sin efecto cese de funciones</h2>
                <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                  adipisicing elit.</p>
              </ng-container>
              <ng-container *ngIf="tipoForm == 6">
                <h2 class="leading-relaxed">Solicitud cese de funciones personal jubilado</h2>
                <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                  adipisicing elit.</p>
              </ng-container>
              <ng-container *ngIf="tipoForm == 5">
                <h2 class="leading-relaxed">Solicitud cese de funciones de cargos de libre nombramiento y remoción</h2>
                <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                  adipisicing elit.</p>
              </ng-container>
            </div>
          </div>
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 ">
            <div class="flex items-center space-x-4">
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Empleado a remover</label>
                <input type="text" name="cedula" formControlName="cedula"
                  class="pl-4 py-2 border focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre o número de cedula">
              </div>
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Cargo a remover</label>
                <input type="text" name="cargo_propuesto" formControlName="cargo_propuesto"
                  class="pl-4 py-2 border focus:ring-gray-500 focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre del cargo">
              </div>
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Agregar descripción</label>
              <textarea type="text" name="descripcion" formControlName="descripcion"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="Optional"></textarea>
            </div>
          </div>
        </ng-container>
  
        <ng-container *ngIf="tipoForm == 7">
          <div class="flex items-center space-x-5">
            <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
              <h2 class="leading-relaxed">Solicitud de Nombramiento</h2>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                adipisicing elit.</p>
            </div>
          </div>
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 ">
            <div class="flex items-center space-x-4">
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Empleado</label>
                <input type="text" name="cedula" formControlName="cedula"
                  class="pl-4 py-2 border focus:border-blue-500 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre o número de cedula">
              </div>
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Cargo a designar</label>
                <input type="text" name="cargo_propuesto" formControlName="cargo_propuesto"
                  class="pl-4 py-2 border focus:ring-gray-500 focus:border-blue-500 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre del cargo">
              </div>
            </div>
  
            <div class="flex flex-col">
              <label class="leading-loose">Agregar sintesis curricular</label>
              <input type="file" name="archivo" formControlName="archivo"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="Event title">
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Agregar descripción</label>
              <textarea type="text" name="descripcion" formControlName="descripcion" descripcion
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="Optional"></textarea>
            </div>
          </div>
        </ng-container>
  
        <ng-container *ngIf="tipoForm == 8">
          <div class="flex items-center space-x-5">
            <div class="block pl-2 font-semibold text-xl text-gray-700">
              <h2 class="leading-relaxed">Solicitud de Contratación</h2>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">Lorem ipsum, dolor sit amet consectetur
                adipisicing elit.</p>
            </div>
          </div>
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700  sm:leading-7">
            <div class="flex items-center space-x-4">
              <div class="flex flex-col w-2/5">
                <label class="leading-loose">Cedula</label>
                <input type="text" name="cedula" formControlName="cedula"
                  class="pl-4 py-2 border focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese cedula del empleado">
              </div>
              <div class="flex flex-col w-2/5">
                <label class="leading-loose">Nombre</label>
                <input type="text" name="nombre" formControlName="nombre"
                  class="pl-4 py-2 border focus:ring-gray-500 focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre del empleado">
              </div>
              <div class="flex flex-col w-2/5">
                <label class="leading-loose">Apellido</label>
                <input type="text" name="apellido" formControlName="apellido"
                  class="pl-4 py-2 border focus:ring-gray-500 focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese apellido del empleado">
              </div>
            </div>
  
            <div class="flex flex-col">
              <label class="leading-loose">Cargo propuesto</label>
              <input type="text" name="cargo_propuesto" formControlName="cargo_propuesto"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="ingrese nombre del cargo">
            </div>
  
            <div class="flex items-center space-x-4">
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Sintesis curricular</label>
                <input type="file"
                  class="pl-4 py-2 border focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese cedula del empleado">
              </div>
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Fotocopia de la cedula</label>
                <input type="file"
                  class="pl-4 py-2 border focus:ring-gray-500 focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre del empleado">
              </div>
            </div>
  
            <div class="flex items-center space-x-4">
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Rif</label>
                <input type="file"
                  class="pl-4 py-2 border focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese cedula del empleado">
              </div>
              <div class="flex flex-col w-1/2">
                <label class="leading-loose">Certificación bancaria</label>
                <input type="file"
                  class="pl-4 py-2 border focus:ring-gray-500 focus:border-blue-500 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="ingrese nombre del empleado">
              </div>
            </div>
  
            <div class="flex flex-col">
              <label class="leading-loose">Agregar descripción</label>
              <textarea type="text"
                class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                placeholder="Optional"></textarea>
            </div>
  
          </div>
        </ng-container>
  
        <div class="pt-4 flex items-center space-x-4">
          <button
           (click)="abrirModal()" type="button" class="flex justify-center items-center w-full bg-red-500 text-white px-4 py-3 rounded-md focus:outline-none">
             Visualizar
          </button>
          <button
           type="submit" class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Enviar</button>
        </div>
  
      </form>
    </div>
  </div>
  
  
  <!-- <app-modal></app-modal> -->