<div class="sidebar h-screen w-64 hidden lg:block transition-all ease-in-out duration-700 rounded-2xl bg-white shadow-lg">

    <div class="pt-8">
        <img class="mx-auto" src="assets/img/logo4.png" width="50">
        <h1 class="text-center text-gray-400 font-semibold mt-2">GUAICAIPURO</h1>
    </div>


    <div class="pt-6">
        <a  routerLink="/home" class="w-full uppercase text-blue-500 flex items-center p-4 my-2  justify-start bg-gradient-to-r from-white to-blue-100 border-r-4 border-blue-500 dark:from-gray-700 dark:to-gray-800 border-r-4 border-blue-500">
            <span class="text-left ">
                <svg class="w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
            </span>
            <p class="mx-4 font-semibold text-sm">
                Inicio
            </p>
        </a>

        <div *ngFor="let menu of _usuarioService.menu" class="w-full p-5">
            <a role="button" class="submenu_btn flex items-center text-gray-500 font-semibold uppercase text-sm hover:text-blue-500">
                <span class="mr-3 text-left">
                    <svg *ngIf="menu.id == 1" class="w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg>
                    <svg *ngIf="menu.id == 2" class="w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg>
                    <svg *ngIf="menu.id == 3" class="w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path></svg>
                    <svg *ngIf="menu.id == 4" class="w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"></path></svg>
                    <svg *ngIf="menu.id == 5" class="w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path></svg>                
                   <!-- <fa-icon [icon]="['far', menu.icono]"  size="lg"></fa-icon> -->
                </span>
                {{menu.titulo}}
                <span class="ml-auto">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                </span>
            </a>

            <div class="transition-all duration-300 h-0 overflow-hidden">
                <ul *ngFor="let submenu of menu.submenu" class="list-disc space-y-3 pb-0 pl-8 p-4 text-sm text-gray-500">
                    <li class="">
                        <a [routerLink]="submenu.ruta" class="hover:text-blue-500">{{submenu.titulo}}</a>
                    </li>
                </ul>
            </div>    
        </div>   
                  
    </div>
</div>