<div [@overlay]="!show ? 'closed' : 'open'" class="fixed z-20 top-0 left-0 w-full h-full bg-black bg-opacity-30"></div>

<div [@modal]="!show ? 'closed' : 'open'" class="fixed flex justify-center mt-48 z-20 top-0 left-0 w-full h-full">
    <div class="z-50 bg-white w-2/5 h-32 rounded-lg p-5">

        <div class="flex mb-4 p-1 border-b border-blue-500">
            <h1 class="text-black font-semibold mr-auto">Modal Title</h1>
            <button (click)="modalToggle()" class="text-xl text-blue-500 font-semibold h-0">X</button>
        </div>

        <ng-content></ng-content>
    </div>
</div>