<div class="bg-gray-100 flex p-4 h-screen overflow-hidden relative">

    <div class="flex w-full">

        <app-sidebar></app-sidebar>
       
        <div class="flex flex-col ml-4 w-full">

            <app-navbar></app-navbar>

            <div class="cuerpo overflow-y-auto px-2 h-screen">

                <router-outlet></router-outlet> 

            </div>

        </div>  
        
    </div>

</div>