@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-home {
  content: url("assets/icons/home.svg");
  color: currentColor;
}

.icon-identify {
  content: url("assets/icons/identify.svg");
}

.icon-document-text {
  content: url("assets/icons/document-text.svg");
}

.icon-document-add {
  content: url("assets/icons/doucment-add.svg");
}

.icon-folder {
  content: url("assets/icons/folder.svg");
}

.icon-clipoart-check {
  content: url("assets/icons/clipoart-check.svg");
}

.icon-clipoart-list {
  content: url("assets/icons/clipoart-list.svg");
}

.icon-library {
  content: url("assets/icons/library.svg");
}

.icon-config {
  content: url("assets/icons/config.svg");
}
