<div class="navbar mb-4 bg-white shadow-lg rounded-2xl flex p-3">
    <button id="btn_menu" class="flex items-center mr-6 p-3 bg-blue-400 rounded-full">
        <svg class="w-6 h-6" stroke="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16">
            </path>
        </svg>
    </button>
    <div class="ml-auto flex space-x-3 items-center">
        <div class="p-3 rounded-full bg-gray-100 border-2">
            <svg class="w-6 h-6  text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg>
        </div>

        <div class="relative">
            <img id="img_user" [src]="foto" class="mx-auto object-cover rounded-full h-12 w-12 "/>
            <div class="menusito hidden absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <button class="block px-4 py-2 text-sm text-gray-700">{{usuario}}</button>
                <button class="block px-4 py-2 text-sm text-gray-700">Configuraciones</button>
                <button (click)="salir()" class="block px-4 py-2 text-sm text-red-700">Salir</button>
              </div>
        </div>
       

    </div>
</div>